body {
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  /*text-shadow: 0 0 20px #831111;*/
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin: 5px;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 5px;
  background: #1f1f1f;
  color: white;
  transition: 0.2s;
}

button:hover {
  background: #00ffcc;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #1a1a1a;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  /*box-shadow: 0 0 10px rgba(0,255,204,0.2);*/
}

.player {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.player:hover {
  background: #00ffcc22;
}

.winner {
  background: rgba(255,255,255,0.15);
  color: white;
  font-weight: bold;
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li div {
  display: flex;
  gap: 5px;
}
li span {
  font-weight: 500;
}

.match-row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
}

.left {
  text-align: right;
  padding-right: 10px;
}

.right {
  text-align: left;
  padding-left: 10px;
}

.vs {
  color: white;
  opacity: 0.6;
}
.match-enter {
  opacity: 0;
  transform: translateY(20px) scale(0.95);
  animation: matchFade 0.6s forwards;
}

@keyframes matchFade {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.vs {
  color: #00ffcc;
  /*text-shadow: 0 0 8px #00ffcc;*/
}
.match-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.center {
  justify-content: center;
}

.vs {
  color: #00ffcc;
  /*text-shadow: 0 0 8px #00ffcc;*/
  font-weight: bold;
}

.bay {
  opacity: 0.6;
  font-style: italic;
}

.player {
  min-width: 80px;
  text-align: center;
}
/*
#drawScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 999;
}
*/
#drawScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: none;
  justify-content: center;
  align-items: center;

  z-index: 999;

  pointer-events: none;
}
#drawScreen::before {
  content: "";
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.5); /* 🔥 yarı karartma */
}
.flying-name {
  position: fixed;
  font-size: 60px;
  color: #00ffcc;
  /*text-shadow: 0 0 20px #00ffcc;*/
  z-index: 1000;
  transition: all 1s ease;
}

@keyframes fadeName {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}
li {
  position: relative;
}
/*
.draw-name {
  font-size: 110px;
  color: #00ffcc;
  text-shadow: 0 0 40px #00ffcc;
  opacity: 0;
  animation: fadeInOut 7s forwards;
}
*/
.draw-name {
  position: relative; /* overlay üstüne çıkar */

  font-size: 80px;
  color: white;
  font-weight: bold;
  /*text-shadow: 0 0 10px rgba(255,255,255,0.4);*/
  opacity: 0;
  animation: fadeInOut 6s forwards;
}
/*
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  30% {
    opacity: 1;
    transform: scale(1);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}
*/
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.02);
  }
}
#championScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #000 40%, #050505 100%);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.champion-content {
  text-align: center;
  animation: zoomIn 1s ease;
}

.champion-content h1 {
  font-size: 70px;
  color: #ffffff;
 /*text-shadow: 0 0 40px #00ffcc;*/
}

.champion-content h2 {
  font-size: 50px;
  color: white;
  margin-top: 20px;
  /*text-shadow: 0 0 20px #00ffcc;*/
}

.champion-content p {
  margin-top: 30px;
  opacity: 0.5;
  font-size: 14px;
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

body {
  
  background: url("/src/assets/background.png") no-repeat center center fixed;
  background-size: contain;
background-repeat: no-repeat;
background-color: rgb(189, 18, 17);
  letter-spacing: 1px;
  color: white;
  font-family: 'Anton', sans-serif;
  text-align: center;
  padding: 10px;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* karartma */
  background: radial-gradient(circle, rgba(0,0,0,0), rgba(0,0,0,0.4));

  z-index: -1;
}
#list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  max-width: 1300px;
  margin: 20px auto;
}
#list li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 6px 8px;
  font-size: 13px;

  width: 100%;
  box-sizing: border-box;
}
#list button {
  padding: 2px 6px;
  font-size: 12px;
}
#list li div {
  display: flex;
  gap: px;
  flex-shrink: 0;          /* 🔥 sıkışmaz */
}
#list li span {
  flex: 1;                 /* 🔥 tüm boş alanı kaplar */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#fluLogo {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 420px;      /* boyut */
  opacity: 1;     /* 🔥 watermark hissi */

  pointer-events: none; /* tıklanmaz */
  z-index: 1;
}